<div class="row">
  <!-- Control Bar on Left Side-->
  <div id="controls" class="col-sm-2 list-songs">
    <div>
      <button id="play" type="button" class="btn btn-default control-button">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      </button>
      <button id="stop" type="button" class="btn btn-default control-button">
          <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
      </button>
      <button id="skip" type="button" class="btn btn-default control-button">
          <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
      </button>
    </div>

    <!-- Drop down select for filtering by artist-->
    <label>
      Artist:
      <select
          ng-model="filterArtist"
          ng-options="song.artist for song in songs | unique: 'artist'">
      </select>
    </label>

    <!-- Drop down select for filtering by album, is filtered by the artist dropdown-->
    <label>
      Album:
      <select
          ng-model="filterAlbum">
          <option ng-repeat="song in songs | filter: filterArtist.artist | unique: 'album'">{{song.album}}</option>
      </select>
    </label>

    <!-- Currently only the checked genres will display and everything else will be filtered (Need to reverse or check by default)-->
    <h5>Genre:</h5>
    <div id="genre">
      <label ng-repeat="song in songs | unique: 'genre'">
        <input type='checkbox' class='filter-genre' ng-model='search[song.genre]'>{{song.genre}}
      </label>
    </div>

    <button class="btn btn-default" ng-click="resetList()">Reset Filter</button>
    <button class="btn btn-default" ng-click="loadMore()">Load More</button>
  </div>

  <!-- Body into which the JavaScript inserts songs-->
  <div id="song-info" class="col-sm-5 list-songs">
    <div class="song" ng-repeat="song in songs | filter: filterArtist.artist | filter: filterAlbum | filter:searchBy()" >
      <h2>{{song.name}}</h2>
        <ul>
          <li>{{song.artist}}</li>
          <li class='middle'>{{song.album}}</li>
          <li>{{song.genre}}</li>
        </ul>
      <button class="btn btn-default" ng-click="displayArt(song)">Art</button>
      <button class='delete-song btn btn-default' type='button' ng-click="songs.$remove(song)">Delete</button>
    </div>
  </div>

  <!-- Maybe put album art or song info here -->
  <div id="maybe-art" class="col-sm-5 list-songs">
    <img ng-src="{{albumArt}}">
  </div>

</div>