body {
  padding: 0;
  margin: 0;
}

.flexparent {
  list-style: none;
  display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;

  /*Centering the main body*/
  width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.flex-thing {
  width: 100px;
  border: 2px solid black;
  box-sizing: border-box;
}


#navi { 
	background-color: #FFB4B0;
	padding-left: 50px;
	align-items: center;

	/*Flex malarky*/
	flex: 1 100%;
	position: fixed;
	width: 700px;
}

#controls {
	background-color: #4DD7FA;
	padding: 5px;

	/*Flex malarky*/
	flex-grow: 1;
	margin-top: 50px;
}

/* Song Info Styling: including alternating background colors*/
#song-info {
	background-color: #FEFAC0;

	/*Flex malarky*/
	flex-grow: 10;
	margin-top: 50px;
}

#song-info div:nth-of-type(2n+1) {
  background-color: seashell;
  display: inline-block;
  min-width: 100%;
}
#song-info div:nth-of-type(2n+0) {
  background-color: mintcream;
  display: inline-block;
  min-width: 100%;
} 
#song-info div:first-of-type {
  font-weight: bolder;
}

/* Song content styling */
.song h2 {
	color: #785616;
}

.song {
  padding-left: 40px;
  border: 2px solid black;
  box-sizing: border-box;
}

ul {
  padding-left: 0px;
}

li {
  display: inline;
  padding: 0 3px 0 3px;
}

.middle {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

/* Form styling */
form {
  margin-top: 10px;
}

label, select {
	display: block;
  margin-bottom: 2px;
  width: 100%;
}
input[type="submit"] {
  width: 100%;
  margin-top: 10px;
}

#col-1 {
  float: left;
}
#col-2 {
  float: right;
}

/* Links */
a:visited {
  text-decoration: none;
  color: black;
}


