#content {
	width: 600px;
    margin-right: auto;
    margin-left: auto;
}

#navi, #controls, #song-info {
	border: 2px solid black;
}

#navi {
	background-color: #FFB4B0;
}

#controls {
	background-color: #4DD7FA;
	width: 180px;
	margin-top: 20px;
  	margin-right: 20px;
  	padding: 10px;
	float: left;
}

#song-info {
	background-color: #FEFAC0;
	width: 400px;
	margin-top: 20px;
	float: left;
}

.info h2 {
	color: #785616;
}

/* Float malarky */
.cleared {
	clear: both;
}

#navi {
  height: 50px;
}

#navi > ul > li {
  float: left;
  list-style-type: none;
  margin: 2px 0 0 0;
  padding: 0 2px 0 2px;
}

#middle {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

label {
	display: block;
}